@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
$body-font: 'Poppins', sans-serif;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  font-family: $body-font;
  background-color: #0E1623;
}

.user__img {
  width: 208px;
  height: 208px;
  background-color: gray;
  border-radius: 100%;
}

.text-yellow {
  color: #C0EF36;
}

.text-nav {
  color: #EBEBEB;
}

.bg-nav-icon {
  width: 24px;
  height: 24px;
  color: #3B5D82;
}

.border-blue {
  border: 1px solid #3B5D82;
}

.border-y-blue {
  border-top: 1px solid #3B5D82;
  border-bottom: 1px solid #3B5D82;
}

.border-r-blue {
  border-right: 1px solid #3B5D82;
}

.text-blue {
  color: #1F89F9
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.mr-5 {
  margin-right: 53.86px;
}

.footer {
  background-color: #030509;
  height: 312px;

  &-icons {
    color: #FFF;
    width: 42px;
    height: 42px;
    background-color: #0F1219;
    border-radius: 100%;
  }

  &-bg-btn {
    background-color: #1F89F9;
  }
}

$theme-colors: (
  "body-bg": #0E1623,
  "body-color": #EBEBEB,
  "secondary": #3B5D82,
  "info": #1F89F9,
  "white": #EBEBEB,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./pagination";

.shopping-cart {
  background: #3B5D82;
  max-width: 24px;
  max-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  color: #EBEBEB;
}

.magnifying-glass {
  font-size: 14px;
}

.card.product-card {
  max-width: 224px;
}

.nav-icons {
  gap: 15px;
}