body {
  height: 100%;
}


.user__img {
  width: 199px;
  height: 199px;
  background-color: gray;
  border-radius: 99%;
}

.text-yellow {
  color: yellow;
}

.text-blue {
  color: #1F89F9
}

$theme-colors: (
  "body-bg": #0E1623,
  "body-color": #EBEBEB,
  "secondary": #3B5D82,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";